                        <h4>
                            Daily Calorie Limit
                        </h4>
                        <dl class='dl-horizontal'>
                            <dt>
                                <p class='text-left text-muted'>
                                    Allowance</p>
                            </dt>
                            <dd>
                                <p class='text-left'>
                                    2000</p>
                            </dd>
                            <dt>
                                <p class='text-left text-muted'>
                                    Eaten</p>
                            </dt>
                            <dd>
                                <p class='text-left'>
                                    1000</p>
                            </dd>
                            <dt>
                                <p class='text-left text-muted'>
                                    Remaining</p>
                            </dt>
                            <dd>
                                <p class='text-left'>
                                    1000</p>
                            </dd>
                        </dl>