<div class="header">
    <i class="styler_border_color"></i>
    Daily Calorie Limit
</div>
<div class="article_block">
    <div class="details">
        <ul class='links'>
            <li>
                <div class="name styler_bg_color">
                    <i class="styler_border_color"></i>
                    Allowance
                </div>
                <div class="desc" data-bind="text: 2600">
                </div>
            </li>
            <li>
                <div class='name styler_bg_color'>
                    <i class="styler_border_color"></i>
                    Eaten
                </div>
                <div class="desc" data-bind="text: foodTracker().Calories"></div>
            </li>
            <li>
                <div class='name styler_bg_color'>
                    <i class="styler_border_color"></i>
                    Remaining
                </div>
                <div class="desc" data-bind="text: 2600 - foodTracker().Calories()"></div>
            </li>
        </ul>
    </div>
</div>