<div class="panel-heading">
           <h4 class="panel-title title-green">
                Daily Limits
            </h4>
    </div>
<ul class='list-unstyled' style="padding: 4px;">
    <li class='list-group-item'>
        <div class='progress'>
            <div class='progress-bar progress-bar-success' data-bind="text: Math.min(foodTracker().PercentNutr('ENERC_KCAL')().toFixed(0), 100) + '%', attr: { style: 'width:' + foodTracker().PercentNutr('ENERC_KCAL')() + '%' }">
            </div>
        </div>
        <p>
            <h5>
                Total Calories:
                <span class='label label-success' data-bind="text: foodTracker().TotalNutr('ENERC_KCAL')() + '/' + foodTracker().Limits['ENERC_KCAL'].val"></span>
            </h5>
        </p>
        <p>
            <h6>
                Empty Calories:
                <span class='label label-success' data-bind="text: foodTracker().TotalNutr('ENERC_KCAL')() + '/' + foodTracker().Limits['ENERC_KCAL'].val"></span>
            </h6>
        </p>


    </li>


    <li class='list-group-item unstyled'>
        <dl class='dl-horizontal'>
            <dt>
                <p>Oils: <span class='label label-warning' data-bind="text: foodTracker().TotalFPED('OILS')() + '/' + foodTracker().Limits['OILS'].val"></span>
                    </p>
            </dt>
            <dd>
                <div class='progress'>
                    <div class='progress-bar progress-bar-warning' data-bind="attr: { style: 'width:' + Math.min(foodTracker().PercentFPED('OILS')(), 100) + '%' }">
                        <span data-bind="text: foodTracker().PercentFPED('OILS')().toFixed(0) + '%'"></span>
                    </div>
                </div>
            </dd>
            <dt>
                <p>Saturated Fat: <span class='label label-danger' data-bind="text: foodTracker().TotalNutr(606)() + '/' + foodStats.Target(606).toFixed(0)"></span>
                </p>
            </dt>
            <dd>
                <div class='progress'>
                    <div class='progress-bar progress-bar-danger' data-bind="attr: { style: 'width:' + Math.min(foodTracker().TotalNutr(606)() / foodStats.Target(606) * 100, 100) + '%' }">
                        <span data-bind="text: (foodTracker().TotalNutr(606)() / foodStats.Target(606) * 100).toFixed(0) + '%'"></span>
                    </div>
                </div>
            </dd>
            <dt><p>Sodium: <span class='label label-default' data-bind="text: foodTracker().TotalNutr('NA')() + '/' + foodTracker().Limits['NA'].val "></span>
                </p>
            </dt>
            <dd>
                <div class='progress'>
                    <div class='progress-bar progress-bar-default' data-bind="attr: { style: 'width:' + foodTracker().PercentNutr('NA')() + '%' }">
                        <span data-bind="text: foodTracker().PercentNutr('NA')().toFixed(0) + '%'"></span>
                    </div>
                </div>
            </dd>
        </dl>
    </li>
</ul>