                      <div class="header">
                          <i class="styler_border_color"> </i>
                          <h4>
                            Daily Food Group Targets
                              </h4>
                        </div>
<div>
<div class="table-responsive">
                        <table class='table table-striped table-bordered'>
                            <thead>
                                <th></th>
                                <!-- ko foreach: foodTracker().FoodGroups -->
                                <th data-bind="text: name, attr: { style: 'background-color:' + color + ';' }"></th>
                                <!-- /ko -->
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Target
                                    </td>
                                <!-- ko foreach: foodTracker().FoodGroups -->
                                <td data-bind="text: val + ' ' + unit + '.'">
                                </td>
                                <!-- /ko -->

                                </tr>
                                <tr>
                                    <td>
                                        Eaten
                                    </td>
                                    <!-- ko foreach: foodTracker().FoodGroups -->
                                    <td data-bind="text: $parent.foodTracker().TotalFPED(tagname)"></td>
                                    <!-- /ko -->
                                </tr>
                                <tr>
                                    <td>
                                        Status
                                    </td>
                                    <!-- ko foreach: foodTracker().FoodGroups -->
                                    <td data-bind="text: (($parent.foodTracker().TotalFPED(tagname)() / val) * 100).toFixed(2) + ' %'"></td>
                                    <!-- /ko -->
                                </tr>
                            </tbody>
                        </table>
    </div></div>