                        <h4>
                            Daily Calorie Limit
                        </h4>
                        <dl class='dl-horizontal'>
                            <dt>
                                <p class='text-left text-muted'>
                                    Allowance</p>
                            </dt>
                            <dd>
                                <p class='text-left' data-bind="text: 2600"></p>

                            </dd>
                            <dt>
                                <p class='text-left text-muted'>
                                    Eaten</p>
                            </dt>
                            <dd>
                                <p class='text-left' data-bind="text: foodTracker().Calories"></p>
                            </dd>
                            <dt>
                                <p class='text-left text-muted'>
                                    Remaining</p>
                            </dt>
                            <dd>
                                <p class='text-left' data-bind="text: 2600 - foodTracker().Calories()"></p>
                            </dd>
                        </dl>