           <h4>
                Daily Limits
            </h4>
            <ul class='list-group list-group-flush unstyled'>
            <li class='list-group-item'>
            <ul class='unstyled'>
            <li>
            <strong> Empty Calories </strong>
            <span class='label label-default'> /300kcal</span>
            </li>
                        <li>
            <strong> Total Calories </strong>
            <span class='label label-default' data-bind="text:  foodTracker().TotalNutr('ENERC_KCAL')() + '/' + foodTracker().Limits['ENERC_KCAL'].val"></span>
            </li>
                        <li>
                        <div class='progress'>
                        <div class='bar'  data-bind="attr: { style: 'width:' + foodTracker().PercentNutr('ENERC_KCAL')() + '%' }">
                        </div>
                        </div>
            </li>
            </ul>
            </li>
            <li class='list-group-item unstyled'>
            <dl class='dl-horizontal'>
            <dt>
            Oils: <span class='label' data-bind="        text: foodTracker().TotalFPED('OILS')() + '/' + foodTracker().Limits['OILS'].val"> </span>

            </dt>
            <dd>
            <div class='progress'>
            <div class='bar'  data-bind="attr: { style: 'width:' + foodTracker().PercentFPED('OILS')() + '%' }">
            
            </div>
            </div>
            </dd>
                        <dt>
            Saturated Fat: <span class='label' data-bind="text: foodTracker().TotalFPED('SOLID_FATS')() + '/' + foodTracker().Limits['SOLID_FATS'].val">  </span>
            </dt>
            <dd>
            <div class='progress'>
            <div class='bar' data-bind="attr: { style: 'width:' + foodTracker().PercentFPED('SOLID_FATS')() + '%' }"
                >
            
            </div>
            </div>
            </dd>
                        <dt>
            Sodium: <span class='label' data-bind="text: foodTracker().TotalNutr('NA')() + '/' + foodTracker().Limits['NA'].val "> </span>
            </dt>
            <dd>
            <div class='progress'>
            <div class='bar'  data-bind="attr: { style: 'width:' + foodTracker().PercentNutr('NA')() + '%' }">
            
            </div>
            </div>
            </dd>
            </dl>
            </li>
            </ul>