            <h4>
                Food Selection</h4>

                <div class='btn-group'>
                <button class='btn'> All Foods
                </button>
                <button class='btn dropdown-toggle' data-toggle='dropdown'>
                <span class='caret'></span>
                </button>
                <ul class='dropdown-menu'>
                <li><a > All Foods </a></li>
                </ul>
                </div>

                <div class='input-append'>
                <div class='input-append'>
                <input class=' span4 form-control' type='text' placeholder='Enter food' />
                <span class='input-group-btn'>
                <button class='btn btn-primary' type='button'> Go !</button>
                </span>
                </div>
                </div>
                <hr />
                <div class='scrollDiv>
                <div class='list-group'>
                </div>
                </div>