<div class="panel-heading">
            <h4 class="panel-title">
                Food Details</h4>
    </div>
                <div data-bind='with: selectedFood().food'>
                <h3 data-bind='text: Description'>  </h3>
</div>
<hr />
<h4>Choose amount:</h4>
<form>
<select data-bind='options: foodTracker().mealAmounts, value: selectedFood().selectedamount'></select>
<select data-bind="options: selectedFood().portiondescs, optionsText: 'Description', value: selectedFood().selectedunit"></select>
</form>
<h4>Choose meal time:</h4>
<form>
<ul class='list inline list-unstyled' data-bind='foreach: foodTracker().mealTimes'>
<li>
<label class='checkbox-inline'>
<input type="checkbox" data-bind="value: $data, checked: $root.selectedFood().selectedmeals" ></input><span data-bind='text: $data'></span>
</label>
</li>
</ul>
<br />
<div class='btn-group pull-right' style='margin-top: 10px'>
<button class='btn btn-primary' data-bind='click: $root.addFood'>
Add
<span class='icon-plus'></span>
</button>
<button class='btn btn-default'>
Clear
<span class='icon-remove'></span>
</button>
</div>
    <div class="clearfix"></div>
</form>
<hr />
<ul class='nav nav-tabs'>
<li class="active">
<a href='#food-info', data-toggle='tab'> Food Info</a>
</li>
<li>
<a href='#nutrient-info', data-toggle='tab'> Nutrient Info</a>
</li>
</ul>
<div class='tab-content'>
<div class='tab-pane' id='nutrient-info'>
<table class='table table-striped table-bordered'>
<thead>
<tr>
<th>
<strong> Nutrient</strong>
</th>
<th><strong>Amount</strong></th>
<th><strong> % of Daily Target</strong></th>
    <th></th>
</tr>
</thead>
<tbody data-bind="foreach: selectedFood().nutrients">
<tr>
<td data-bind='text: $parent.selectedFoodNutr($data).Description'>  </td>
<td data-bind="text: $parent.selectedFoodNutrVal($data)"> </td>
<td> target</td>
</tr>
</tbody>
</table>
</div>
<div class='tab-pane active' id='food-info'>
<h3>
&nbsp;
<span class='label label-info'><span data-bind="text: selectedFood().nutrval('ENERC_KCAL')"></span> Calories</span>
</h3>
<table class='table'>
<thead>
<tr>
<th>
<strong>Food Groups</strong>
</th>
<th><strong> Limits </strong></th>
</tr>
</thead>
<tbody>
    <tr>
        <td>
            <dl class="dl-horizontal"  data-bind="foreach: { data: foodTracker().FoodGroups, as: 'fg' }">
                <span data-bind="visible: $parent.selectedFood().fped(fg.tagname) > 0">
                <dt>
                    <span class="label label-primary pull-left" data-bind="attr: { style: 'color:' + fg.color + ';'}, text: fg.name">

                    </span>

                </dt>
                <dd>
                    <span data-bind="text: $parent.selectedFood().fped(fg.tagname).toFixed(2)">

                    </span>
                    <span data-bind="text: fg.unit + '.'"></span>
                </dd>
                </span>
            </dl>
        </td>
        <td>
            <table>
                <tr>
                    
                </tr>
                <tr>

                </tr>
                <tr>

                </tr>
            </table>
        </td>
    </tr>
</tbody>
</table>
</div>
</div>
