<div class="panel-heading">
            <h4 class='panel-title text-center'>
                Meals
                
                <span class='label label-info pull-right'> <span data-bind="text: foodTracker().Calories"></span> Calories </span>
                </h4>
    </div>
<div class='scrollDiv'>
    <div class='panel-group' data-bind='foreach: foodTracker().meals'>
        <div class="panel panel-primary">

            <div class="panel-heading"><h4 class="panel-title">
            <a class='accordion-toggle' data-toggle='collapse' data-parent='accordion2' data-bind="attr: { href: '#collapse' + name }">
                <span data-bind='text: name'></span>
                <span class='label label-default pull-right'><span data-bind="text: Calories"></span>Calories </span></a>
                </h4>
            </div>
            <div class='collapse in panel-collapse' data-bind="attr: { id: 'collapse' + name }">
                <div class='panel-body'>
                    <ul class='list-group list-group-flush' data-bind='foreach: foods'>
                        <li class="list-group-item">
                            <p data-bind='text: food.Description'></p>
                            <span class='label label-default pull-right'><span data-bind="text: nutrval('ENERC_KCAL')"></span>Calories
                                                <br />
                                0 Empty Calories </span>
                            <div class="clearfix"></div>
                            <small data-bind="text: selectedamount"></small>
                            <small data-bind="text: selectedunit().Description"></small>
                            <br />
                            <div class='btn-group pull-right'>
                                <a class='btn btn-link btn-sm' data-bind="click: $root.editFood">
                                    <i class='icon-edit'></i>Edit
                                </a>
                                <a class='btn btn-link btn-sm'>
                                    <i class='icon-bookmark'></i>Favorite
                                </a>
                                <a class='btn btn-link btn-sm' data-bind="click: $root.removeFood">
                                    <i class='icon-remove'></i>Remove
                                </a>
                            </div>
                            <div class='clearfix'></div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- dinner -->
    </div>
</div>
