            <h4 class='text-info text-center'>
                Meals
                
                <span class='label label-info pull-right'> 0 Calories </span>
                </h4>
                <div class='scrollDiv'>
                <div class='well-small' data-bind='foreach: foodTracker().meals'>
                <h4><a class='btn btn-block accordion-toggle' data-toggle='collapse' data-parent='accordion2' data-bind="attr: { href: '#collapse' + name}">
                <span class='text-info' data-bind='text: name'></span>
                 <span class='label label-primary pull-right'> 0 Calories </span></a></h4>
                 <div class='collapse in' data-bind="attr: { id: 'collapse' + name }">
                 <div class='well small'>
                 <ul class='list-group unstyled list-group-flush' style='padding-bottom: 10px;' data-bind='foreach: foods'>
                 <li>
                 <p data-bind='text: food.Description'>
                 <span class='label label-default pull-right'>0 Calories <br /> 0 Empty Calories </span>
                 </p>
                 <small>  </small>
                 <br />
                 <div class='btn-group pull-right'>
                 <a class='btn btn-link btn-small'>
                 <i class='icon-edit'></i> Edit
                 </a>
                                  <a class='btn btn-link btn-small'>
                 <i class='icon-bookmark'></i> Favorite
                 </a>
                                  <a class='btn btn-link btn-small'>
                 <i class='icon-remove'></i>  Remove
                 </a>
                 </div>
                 <div class='clearfix'></div>
                 </li>

                 </ul>
                 </div>
                 </div>
                </div> <!-- dinner -->
                </div>