            <h4>
                Meals
                
                <span class='label label-primary pull-right'> 0 Calories </span>
                </h4>
                <div class='scrollDiv'>
                <div class='well'>
                <h4><a class='accordion-toggle' data-toggle='collapse' data-parent='accordion2' href='#collapseDinner'>
                Dinner
                 <span class='label label-default pull-right'> 0 Calories </span></a></h4>
                 <div class='collapse in' id='collapseDinner'>
                 <div id='contentDinner'>
                 <ul class='list-group list-group-flush' style='padding-bottom: 10px;'>
                 <li>
                 <p> Description 
                 <span class='label label-default pull-right>0 Calories <br /> 0 Empty Calories </span>
                 </p>
                 <small> Description</small>
                 <br />
                 <div class='btn-group pull-right>
                 <a class='btn btn-link btn-small'>
                 <i class='icon-edit'></i> Edit
                 </a>
                                  <a class='btn btn-link btn-small'>
                 <i class='icon-bookmark'></i> Favorite
                 </a>
                                  <a class='btn btn-link btn-small'>
                 <i class='icon-remove'></i>  Remove
                 </a>
                 </div>
                 <div class='clearfix'></div>
                 </li>
                 </ul>
                 </div>
                 </div>
                </div>
                </div>