@model Fitlife.Domain.Entities.User

@{
    ViewBag.Title = "Profile";
    ViewBag.Subtitle = "";
}

@{Html.RenderPartial("SuperPageHeader");}

<div class="container">
    <div class="row">
        <div class="span4">
            <img class="img-polaroid" src="@Model.Photo" height="400", width="400" />
            @if (Model == Session["user"])
            {
                <span class="btn btn-link btn-success fileinput-button">
                    <i class="icon-gear"></i>
                    <span>Change Picture </span>
                    <span id="userphotoprogress"></span>
                    <input id='fileuploaduserphoto' type='file' name='image' data-url='https://api.imgur.com/3/upload' />
                </span>
            }                
        </div>
        <div class="span8">
            <div class="well">
                <h3> @Model.Name </h3>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/BlueImp")
}
