@model IEnumerable<Fitlife.WebUI.Models.NavViewModel>

@foreach (var navlink in Model)
{
    if (!navlink.AllowAnonymous && !User.Identity.IsAuthenticated) { continue; }
    <li class='@(navlink.Link == ViewBag.SelectedNav ? "active" : ViewBag.SelectedNav)'>
    
        <a href="@Url.Action(navlink.Action, navlink.Controller)">
            <i class="@navlink.Icon"></i>
            @navlink.Name
        </a>
</li>
}