@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="SocialViewContent">
    @{Html.RenderPartial("SuperPageHeader");}
    <div class="container">
        <div class="row">
            <div class="span2">
                @{Html.RenderPartial("SideNav"); }
            </div>
            <div id="social-body" class="span10">
                @RenderBody()
            </div>
        </div>
    </div>

</div>
