@model IEnumerable<Fitlife.Domain.Entities.User>

<div class="container">
    
    <div class="row">
        <div class="span12">
            @using (Ajax.BeginForm("SearchPeople", "Social", new AjaxOptions() { UpdateTargetId = "PeopleListContent" }))
            {
                @Html.Label("Search People")
                @Html.TextBox("search", "", new { @class = "input-medium search-query", @placeholder = "Search", @id = "peoplesearchbox" })
            }
        </div>
    </div>
    <div class="row">
        <div id="PeopleListContent">

        </div>
    </div>
</div>