@model Fitlife.Domain.Entities.User

@{
    ViewBag.Title = "Login";
}
<div id="wrapper">
<div class="mod row">
    <div class="container">
       <div class="col-md-12 contact_form" style='max-width: 500px; text-align:center; margin-left:auto; margin-right: auto'>
            <div class="your-logo">
                <h3><a href="index.html">Your Logo</a></h3>     
            </div>
            @using (Html.BeginForm())
            {
                Html.RenderPartial("ValidationSummary", @ViewData.ModelState);
                <legend><h4>Log In</h4></legend>
                <div class="row-fluid">
                    <div class="col-md-6">
                        <a href="" class="btn btn-primary btn-block"><i class="icon-facebook"></i> Facebook Connect</a>
                    </div>  
                    <div class="col-md-6">
                        <a href="" class="btn btn-info btn-block"><i class="icon-twitter"></i> Twitter Connect</a>
                    </div>    
                </div>
                @Html.TextBoxFor(x => x.Email, new { @class = "input-block-level", @placeholder = "Email address" })
                @Html.PasswordFor(x => x.Password, new { @class = "input-block-level", @placeholder = "Password" })
                <div class="row-fluid">
                    <div class="col-md-8">
                    </div> 
                    <div class="col-md-4">
                        <input class="styler_bg_color" type="submit" value="LOGIN">
                    </div>    
                </div>
            }
            <div class="bottom-text">
                 <p>Don't have an account? @Html.RouteLink("Signup", new
{
    controller = "Account",
    action = "Signup"
})</p>
            </div>
        </div> <!-- /container -->

    </div>
    </div>
    </div> 