@{
    ViewBag.Title = "Home Page";
}
@section featured {
}

<div id="wrapper">
                    
                    <!-- slider start -->
                    <div class="fullwidthbanner-container" id="main_slider">
                        <div class="fullwidthbanner">
                            <ul>
                                <!-- slide 1 -->
                                <li class="slide1" data-transition="slotzoom-horizontal" data-slotamount="5"  data-masterspeed="300">
                                    <!-- slide 1 main image -->
                                    <img alt="" src="http://i.imgur.com/ZbjhGyp.jpg" />
                                    <div class="caption sft" data-x="15" data-y="60" data-speed="2500" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 1 caption 1 -->
                                        <p class="cap-1">WHATEVER IT IS, FITLIFE CAN HELP YOU ACHIEVE IT.</p>
                                    </div>
                                    <div class="caption sfl" data-x="15" data-y="100" data-speed="1500" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 1 caption 2 -->
                                        <p class="cap-2"><span>SIMPLE</span><br /><span>ACTIVITY AND NUTRITION</span><br /><span>TRACKER</span></p>
                                    </div>
                                    <div class="caption sfl" data-x="15" data-y="280" data-speed="1500" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 1 caption 3 -->
                                        <p class="cap-3">Fitlife tracks your activity and nutrition. Lets you share with the world.<br /> 
                                            Daily tracking, weekly progress, being social, will keep you motivated.</p>
                                    </div>
                                </li>
                                <!-- slide 2 -->
                                <li class="slide2" data-transition="boxfade" data-slotamount="5"  data-masterspeed="300">
                                    <!-- slide 2 main image -->
                                    <img alt="" src="http://i.imgur.com/LsXFH3h.jpg" />
                                    <div class="caption sft" data-x="15" data-y="40" data-speed="1500" data-start="400" data-easing="easeInBack">
                                        <!-- slide 2 caption 1 -->
                                        <p class="cap-1">NUTRITION TRACKER<br />TRACK YOUR FOOD INTAKE VERY SIMPLE.</p>
                                    </div>
                                    <div class="caption sfl" data-x="15" data-y="115" data-speed="1500" data-start="700" data-easing="easeInBack">
                                        <!-- slide 2 caption 2 -->
                                        <p class="cap-2"><span>HOW MUCH CALORIES YOU TAKE?</span><br />
                                            <span>WHICH FOOD GROUPS YOU TAKE?</span>
                                        </p>
                                    </div>
                                    <div class="caption sfl" data-x="15" data-y="245" data-speed="1500" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 2 caption 3 -->
                                        <p class="cap-3">Fitlife includes +70,000 foods you can choose from<br />
                                            awesome charts to see your nutrition values<br />
                                            helps you eat healthy foods with motivation<br /> 
                                            that will make you fit.</p>
                                    </div>
                                    @*<div class="caption sfr" data-x="480" data-y="40" data-speed="2000" data-start="700" data-easing="easeInBack">
                                        <!-- slide 2 layer image 1 -->
                                        <img src="images/bizStrap/apple.jpg" alt="" />
                                    </div>
                                    <div class="caption sfr" data-x="480" data-y="175" data-speed="2000" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 2 layer image 2 -->
                                        <img src="images/bizStrap/egg.jpg" alt="" />
                                    </div>
                                    <div class="caption sfr" data-x="480" data-y="245" data-speed="2000" data-start="1300" data-easing="easeInBack">
                                        <!-- slide 2 layer image 3 -->
                                        <img src="images/bizStrap/meat.jpg" alt="" />
                                    </div>
                                    <div class="caption sfr" data-x="480" data-y="300" data-speed="2000" data-start="1700" data-easing="easeInBack">
                                        <!-- slide 2 layer image 4 -->
                                        <img src="images/bizStrap/corn.jpg" alt="" />
                                    </div>
                                    <div class="caption sft" data-x="820" data-y="25" data-speed="2000" data-start="1900" data-easing="easeInBack">
                                        <!-- slide 2 layer image 5 -->
                                        <img src="img/bizStrap/coffee.jpg" alt="" />
                                    </div>
                                    <div class="caption sfb" data-x="820" data-y="170" data-speed="2000" data-start="2200" data-easing="easeInBack">
                                        <!-- slide 2 layer image 6 -->
                                        <img src="img/coffee.jpg" alt="" />
                                    </div>                      
                                    *@
                                    <div class="caption sft hidden-phone" data-x="585" data-y="120" data-speed="1500" data-start="100" data-easing="easeInBack">
                                        <!-- slide 2 caption 4 -->
                                        <p class="cap-4"><span class="first">70k</span><br /><br /><br /><span class="second">foods</span></p>
                                    </div>
                                </li>
                                <!-- slide 3 -->
                                <li class="slide3" data-transition="boxfade" data-slotamount="5"  data-masterspeed="300">
                                    <!-- slide 3 main image -->
                                    <img alt="" src="http://i.imgur.com/Un6gkFR.jpg" />
                                    <div class="caption sft" data-x="15" data-y="75" data-speed="2500" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 3 caption 1 -->
                                        <p class="cap-1">FEEL AWESOME, SHARE YOUR PROGRESS</p>
                                    </div>
                                    <div class="caption sfl" data-x="15" data-y="115" data-speed="1500" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 3 caption 2 -->
                                        <p class="cap-2"><span>INCREDIBLY FUN</span><br />
                                            <span>& RESPONSIVE!</span>
                                        </p>
                                    </div>
                                    <div class="caption sfl" data-x="15" data-y="235" data-speed="1500" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 3 caption 3 -->
                                        <p class="cap-3">Fitlife is an incredibly fun platform<br />
                                            and a great motivational tool for you to become fit,<br />
                                            simply track your progress, and share with the world.</p>
                                    </div>
                                    <div class="caption sfb" data-x="480" data-y="75" data-speed="2000" data-start="1000" data-easing="easeInBack">
                                        <!-- slide 3 layer image 1 -->
                                        <img src="img/devices.png" alt="" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /end slider -->
                    
                    <div class="container">
                        <!-- call to action bar -->
                        <div class="order_block"><i></i><a href="
                            @Url.Action("Signup", "Account")
                            " class="order_btn styler_bg_color">SIGNUP NOW</a> <span>Give us a launch boost!</span></div>
                        
                        <!-- start infogrphics bar -->
                        <div id="features_marker"></div>
                        <div class="infograph">
                            <sup class="styler_bg_color"></sup>
                            <!-- infographics bar headline -->
                            <div class="header styler_color">AWESOME INFOGRAPHICS</div>
                            <div class="row">
                                <!-- infographic column 1 -->
                                <div class="col-md-3 col-xs-3 col-sm-3">
                                    <div class="graph">
                                        <div class="graph_inner">
                                            <!-- infographic column 1 - large number -->
                                            <div class="large_num styler_color">321</div>
                                        </div>
                                    </div>
                                    <div class="desc styler_bg_color">
                                        <i class="styler_border_color"></i>
                                        <!-- infographics column 1 headline -->
                                        <div class="name">FACT 1</div>
                                        <!-- infographics column 1 text body -->
                                        <div class="text">Number of Twitter Bootstrap sites that go live every hour.</div>
                                    </div>
                                </div>
                                <!-- infographic column 2 -->
                                <div class="col-md-3 col-xs-3 col-sm-3">
                                    <div class="graph">
                                        <div class="graph_inner">
                                            <!-- infographic column 2 - contrasting icons -->
                                            <div class="progress_bars_with_image styler_infograph" data-number="8" data-value="5" data-icon="icon-male" data-height="40" data-color="#0eae9b"></div>
                                            <!-- infographic column 2 - contrasting icons caption -->
                                            <div class="progress_bars_with_image_title styler_color">5 in every 8</div>
                                        </div>
                                    </div>
                                    <div class="desc styler_bg_color">
                                        <i class="styler_border_color"></i>
                                        <!-- infographics column 2 headline -->
                                        <div class="name">FACT 2</div>
                                        <!-- infographics column 2 text body -->
                                        <div class="text">New developers learning Twitter Bootstrap each month.</div>
                                    </div>
                                </div>
                                <!-- infographic column 3 -->
                                <div class="col-md-3 col-xs-3 col-sm-3">
                                    <div class="graph">
                                        <div class="graph_inner">
                                            <!-- infogrphic column 3 progress bars -->
                                            <div class="progress_bars_block">
                                                <!-- progress bar caption -->
                                                <div class="progress_bars_caption styler_color">WEBSITE DESIGN & DEVELOPMENT</div>
                                                <!-- progress bar -->
                                                <div class="progress_bars horizontal style1 styler_infograph" data-width="220" data-height="15" data-color="#0eae9b" data-title="inner" data-value="75%"></div>
                                                <!-- progress bar caption -->
                                                <div class="progress_bars_caption styler_color">iOS DEVELOPMENT</div>
                                                <!-- progress bar -->
                                                <div class="progress_bars horizontal style1 styler_infograph" data-width="220" data-height="15" data-color="#0eae9b" data-title="inner" data-value="60%"></div>
                                                <!-- progress bar caption -->
                                                <div class="progress_bars_caption styler_color">INFO GRAPHICS</div>
                                                <!-- progress bar -->
                                                <div class="progress_bars horizontal style1 styler_infograph" data-width="220" data-height="15" data-color="#0eae9b" data-title="inner" data-value="50%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc styler_bg_color">
                                        <i class="styler_border_color"></i>
                                        <!-- infographics column 3 headline -->
                                        <div class="name">FACT 3</div>
                                        <!-- infographics column 3 text body -->
                                        <div class="text">Web developers prefer working with Twitter Bootstrap.</div>
                                    </div>
                                </div>
                                <!-- infographic column 4 -->
                                <div class="col-md-3 col-xs-3 col-sm-3">
                                    <div class="graph">
                                        <div class="graph_inner">
                                            <!-- infogrphic column 4 pie chart -->
                                            <div class="easy-pie-chart styler_infograph" data-percent="70" data-trackColor="#6ed1ff" data-color="#0eae9b" data-lineWidth="25" data-size="126" data-cap="butt"></div>
                                        </div>
                                    </div>
                                    <div class="desc styler_bg_color">
                                        <i class="styler_border_color"></i>
                                        <!-- infographics column 4 headline -->
                                        <div class="name">FACT 4</div>
                                        <!-- infographics column 4 text body -->
                                        <div class="text">Percent of Twitter Bootstrap websites created from templates.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /end infographics bar -->

                        <!-- start portfolio -->
                        <div id="portfolio_marker"></div>
                        <div class="mod row">
                            <!-- portfolio headline -->
							<div class="col-md-12 col-xs-12 col-sm-12">
								<div class="caption styler_color">FEATURES</div>
								<div class="carousel portfolio">
									<ul>
										<li>
											<a href="#" class="photo styler_parent">
												<!-- portfolio image -->
												<span class="img"><i class="styler_bg_color"></i><img src="img/img2.jpg" alt="" /></span>
												<span class="text styler_hover_border_color">
													<i class="styler_border_color"></i>
													<!-- portfolio item name -->
													<span class="name">Feature #1</span>
													<!-- portfolio description -->
													<span class="desc">nutrition tracker</span>
												</span>
											</a>
										</li>
										<li>
											<a href="#" class="photo styler_parent">
												<!-- portfolio image -->
												<span class="img"><i class="styler_bg_color"></i><img src="img/img.jpg" alt="" /></span>
												<span class="text styler_hover_border_color">
													<i class="styler_border_color"></i>
													<!-- portfolio item name -->
													<span class="name">Feature #2</span>
													<!-- portfolio description -->
													<span class="desc">activity tracker</span>
												</span>
											</a>
										</li>
										<li>
											<a href="#" class="photo styler_parent">
												<!-- portfolio image -->
												<span class="img"><i class="styler_bg_color"></i><img src="img/img3.jpg" alt="" /></span>
												<span class="text styler_hover_border_color">
													<i class="styler_border_color"></i>
													<!-- portfolio item name -->
													<span class="name">Feature #3</span>
													<!-- portfolio description -->
													<span class="desc">social platform</span>
												</span>
											</a>
										</li>
										<li>
											<a href="#" class="photo styler_parent">
												<!-- portfolio image -->
												<span class="img"><i class="styler_bg_color"></i><img src="img/img4.jpg" alt="" /></span>
												<span class="text styler_hover_border_color">
													<i class="styler_border_color"></i>
													<!-- portfolio item name -->
													<span class="name">Feature #4</span>
													<!-- portfolio description -->
													<span class="desc">Personal Blogs</span>
												</span>
											</a>
										</li>
									</ul>
									<a href="#" class="left_arr styler_hover_bg_color"></a>
									<a href="#" class="right_arr styler_hover_bg_color"></a>
								</div>
							</div>
                        </div>
                        <!-- /end portfolio -->

                        <!-- start blog -->
                        <div id="blog_marker"></div>
                        <div class="mod row">
                            <!-- blog headline -->
							<div class="col-md-12 col-xs-12 col-sm-12">
								<div class="caption styler_color">BLOG</div>
								<div class="carousel articles">
									<ul>
										<li>
											<!-- blog post image -->
											<a href="#" class="img"><img src="img/img4.jpg" alt="" /></a>
											<div class="text">
												<!-- blog post headline -->
												<div class="name">A Fresh, Clean Twitter Bootstrap Theme</div>
												<!-- blog post date -->
												<div class="date">January 15, 2013</div>
												<!-- blog post summary text -->
												<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, metus eu imperdiet ornare, urna lorem porttitor tortor, at condimentum massa erat sed sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing.</div>
												<div class="more">
													<!-- link to blog post -->
													<a href="#" class="styler_color">Read more <i class="icon-circle-arrow-right"></i></a>
												</div>
											</div>
										</li>
										<li>
											<!-- blog post image -->
											<a href="#" class="img"><img src="img/img5.jpg" alt="" /></a>
											<div class="text">
												<!-- blog post headline -->
												<div class="name">A Fresh, Clean Twitter Bootstrap Theme</div>
												<!-- blog post date -->
												<div class="date">January 15, 2013</div>
												<!-- blog post summary text -->
												<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, metus eu imperdiet ornare, urna lorem porttitor tortor, at condimentum massa erat sed sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing.</div>
												<div class="more">
													<!-- link to blog post -->
													<a href="#" class="styler_color">Read more <i class="icon-circle-arrow-right"></i></a>
												</div>
											</div>
										</li>
										<li>
											<!-- blog post image -->
											<a href="#" class="img"><img src="img/img6.jpg" alt="" /></a>
											<div class="text">
												<!-- blog post headline -->
												<div class="name">A Fresh, Clean Twitter Bootstrap Theme</div>
												<!-- blog post date -->
												<div class="date">January 15, 2013</div>
												<!-- blog post summary -->
												<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, metus eu imperdiet ornare, urna lorem porttitor tortor, at condimentum massa erat sed sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing.</div>
												<div class="more">
													<!-- link to blog post -->
													<a href="#" class="styler_color">Read more <i class="icon-circle-arrow-right"></i></a>
												</div>
											</div>
										</li>
										<li>
											<!-- blog post image -->
											<a href="#" class="img"><img src="img/img7.jpg" alt="" /></a>
											<div class="text">
												<!-- blog post headline -->
												<div class="name">A Fresh, Clean Twitter Bootstrap Theme</div>
												<!-- blog post date -->
												<div class="date">January 15, 2013</div>
												<!-- blog post summary -->
												<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, metus eu imperdiet ornare, urna lorem porttitor tortor, at condimentum massa erat sed sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing.</div>
												<div class="more">
													<!-- link to blog post -->
													<a href="#" class="styler_color">Read more</a>
												</div>
											</div>
										</li>
									</ul>
									<a href="#" class="left_arr styler_hover_bg_color"></a>
									<a href="#" class="right_arr styler_hover_bg_color"></a>
								</div>
							</div>
                        </div>
                        <!-- /end blog -->

                        <!-- start about us -->
                        <div id="about_marker"></div>
                        <div class="mod row" id="about_block">
                            <!-- column 1 caption -->
							<div class="col-md-12 col-xs-12 col-sm-12">
                            	<div class="caption styler_color">ABOUT US</div>
							</div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="article">
                                    <!-- column 1 headline -->
                                    <h1>WHO WE ARE</h1>
                                    <!-- column 1 text -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Curabitur pellentesque massa eu nulla consequat sed porttitor arcu porttitor.</p>
                                    <p>Quisque volutpat pharetra felis, eu cursus lorem molestie vitae. Nulla vehicula, lacus ut suscipit fermentum, turpis felis ultricies dui, ut rhoncus libero augue at libero. Morbi ut arcu dolor. Maecenas id nulla nec nibh viverra vehicula. Cras feugiat, magna eu lacinia ullamcorper, augue est sodales nibh, ut vulputate augue est sed nunc. Suspendisse sagittist.</p>
                                    <p>Maecenas id nulla nec nibh viverra vehicula. Cras feugiat, magna eu lacinia ullamcorper, augue est sodales nibh, ut vulputate augue est sed nunc. Suspendisse sagittist.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="work">
                                    <!-- column 2 caption -->
                                    <div class="header">WHAT WE DO</div>
                                    <!-- steps/process boxes -->
                                    <ul class="styled_list styler_infograph" data-type="process_box" data-color="#0FC5AF">
                                        <li>
                                            <!-- box 1 caption -->
                                            <div class="name styler_color">PLAN</div>
                                            <!-- box 1 text -->
                                            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                        </li>
                                        <li>
                                            <!-- box 2 caption -->
                                            <div class="name styler_color">DEVELOP & TEST</div>
                                            <!-- box 2 text -->
                                            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                        </li>
                                        <li>
                                            <!-- box 3 caption -->
                                            <div class="name styler_color">IMPLEMENT</div>
                                            <!-- box 3 text -->
                                            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /end about us -->

                        <!-- start team -->
                        <div class="mod row">
                            <!-- team headline -->
							<div class="col-md-12 col-xs-12 col-sm-12">
								<div class="caption styler_color">MEET THE TEAM</div>
							</div>
							<div class="col-md-12 col-xs-12 col-sm-12">
								<div class="team">
									<div class="person">
										<a href="#" class="photo styler_parent">
											<!-- team member photo -->
											<span class="img"><i class="styler_bg_color"></i><img src="img/img7.jpg" alt="" /></span>
											<span class="text styler_hover_border_color">
												<i class="styler_border_color"></i>
												<!-- team member name -->
												<span class="name">John Doe</span>
												<!-- team member title -->
												<span class="desc">President & CEO</span>
											</span>
										</a>
									</div>
									<div class="person">
										<a href="#" class="photo styler_parent">
											<!-- team member photo -->
											<span class="img"><i class="styler_bg_color"></i><img src="img/img8.jpg" alt="" /></span>
											<span class="text styler_hover_border_color">
												<i class="styler_border_color"></i>
												<!-- team member name -->
												<span class="name">Cindy Thompson</span>
												<!-- team member title -->
												<span class="desc">CFO</span>
											</span>
										</a>
									</div>
									<div class="person">
										<a href="#" class="photo styler_parent">
											<!-- team member photo -->
											<span class="img"><i class="styler_bg_color"></i><img src="img/img9.jpg" alt="" /></span>
											<span class="text styler_hover_border_color">
												<i class="styler_border_color"></i>
												<!-- team memeber name -->
												<span class="name">Jane anderson</span>
												<!-- team member title -->
												<span class="desc">Art Director</span>
											</span>
										</a>
									</div>
								</div>
							</div>
                        </div>
                        <!-- /end team -->

                        <!-- start contact us -->
                        <div id="contact_marker"></div>
                        <div class="mod row">
                            <!-- contact us headline -->
							<div class="col-md-12 col-xs-12 col-sm-12">
                            	<div class="caption styler_color">CONTACT US</div>
							</div>
                            <div class="col-md-8 col-xs-12 col-sm-8">
                                <!-- contact us form -->
                                <div class="contact_form">
                                    <form action="/" method="post">
                                        <input type="text" placeholder="Name" />
                                        <input type="text" placeholder="Email Address" />
                                        <input type="text" placeholder="Subject" />
                                        <textarea placeholder="Message"></textarea>
                                        <input type="submit" value="SUBMIT" class="styler_bg_color" />							
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-4">
                                <div class="info">
                                    <!-- contact us address headline -->
                                    <div class="header">ADDRESS, PHONE & EMAIL</div>
                                    <div class="text">
                                        <!-- address details -->
                                        <p>{biz}strap ONE</p>
                                        <p>7800 East Mockingbird Lane</p>
                                        <p>Suite 800</p>
                                        <p>Dallas, TX 75235</p>
                                        <p>USA</p>
                                        <p>p. 214.985.9000</p>
                                        <p>f. 214.985.9003</p>
                                        <p>Email: hello@bootsmart.com</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <!-- contact us hours of operations headline -->
                                    <div class="header">HOURS OF OPERATION</div>
                                    <div class="text">
                                        <!-- hours of operations details -->
                                        <p>Monday: 8am to 6pm </p>
                                        <p>Tuesday: 8am to 6pm </p>
                                        <p>Wednesday: 8am to 6pm </p>
                                        <p>Thursday: 8am to 6pm </p>
                                        <p>Friday: 8am to 6pm </p>
                                        <p>Saturday: Closed </p>
                                        <p>Sunday: Closed </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /end contact us -->

                    </div>
                    
                    <!-- start map -->
                    <div id="map"></div>
                    <!-- /end map -->

                    
                </div>