@model Fitlife.WebUI.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
@section featured {
}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                    <div class="flexslider">
                        <ul class="slides">
                            <li><img src="images/planar/slider/slide-1.jpg" alt="">
                            <p class="flex-caption">Fitlife will help you to achieve your goal</p>
                            </li>
                            <li><img src="images/planar/slider/slide-2.jpg" alt="">
                            <p class="flex-caption">Track your activity</p>
                            </li>
                            <li>
                            <img src="images/planar/slider/slide-3.jpg" alt="">
                            <p class="flex-caption">Track your nutrition</p>
                            </li>
                            <li>
                            <img src="images/planar/slider/slide-4.jpg" alt="">
                            <p class="flex-caption">Share Your Progress</p>
                            </li>
                            <li>
                            <img src="images/planar/slider/slide-5.jpg" alt="">
                            <p class="flex-caption">Proper training will make you feel better</p>
                            </li>
                        </ul>
                    </div><!-- End slider -->
                    
                </div><!-- End row -->
            </div><!-- End col-md-12 -->
            
            <h3 class="title">GIVE US A LAUNCH BOOST</h3>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="@Url.Action("Signup", "Account")" class="button_large">SIGNUP NOW</a>
                </div>
            </div>

            
            <div class="row">
            
                <div class="col-md-3 col-sm-6">
                 <div class="box_calculator">
                        <a href="daily-calorie-calculator.html">
                            <i class="fa fa-rocket fa-5x"></i>
                            <h3>View Progress</h3>
                            <p>Upload Photos, view daily/weekly progress, always stay motivated. </p>
                        </a>
                    </div><!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="calories-burned-heart-rate.html">
                            <i class="fa fa-lemon-o fa-5x"></i>
                        <h3>Track your nutrition</h3>
                        <p>Search our database with +70,000 foods. See how much calories you take, which food groups you take.</p>
                        </a>
                    </div><!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="calories-burned-calculator.html">
                            <i class="fa fa-bullseye fa-5x"></i>
                        <h3>Track your activities</h3>
                        <p>Create a program, track your workout. See how much calories you burn, how many hours you exercise.</p>
                        </a>
                    </div><!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="bmi-calculator.html">
                            <i class="fa fa-group fa-5x"></i>
                        <h3>Share your progress</h3>
                        <p>Get your fitlife blog, share with the world, follow friends, never quit fitlife.</p>
                        </a>
                    </div><!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
            </div><!-- End row -->

            <h3 class="title">ABOUT FITLIFE</h3>
            
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title-2"><span>Hello</span> / FITLIFE</h3>
                    <p>Qui at commune signiferumque. In mel labores moderatius, tantas saperet facilisi quo ut. Vero wisi civibus ea vim. An tota nostro sit, mel ei utinam ancillae, mutat dolores mea et. Homero iriure imperdiet eu mel. Ei enim viderer pri. Sed in eros nobis, te cum invidunt probatus. Mel an aeque efficiendi. Te populo ocurreret reprehendunt usu, sit at purto iudicabit.
                    </p>
                    <p>
                        Qui at commune signiferumque. In mel labores moderatius, tantas saperet facilisi quo ut. Vero wisi civibus ea vim. An tota nostro sit, mel ei utinam ancillae, mutat dolores mea et. Homero iriure imperdiet eu mel. Ei enim viderer pri. Sed in eros nobis, te cum invidunt probatus. Mel an aeque efficiendi. Te populo ocurreret reprehendunt usu, sit at purto iudicabit.
                    </p>
                    <p><a href="#" class="button_small">Read more</a></p>
                </div>
                
                <div class="col-md-6">
                    <h3 class="title-2"><span>Mission</span> / Love training</h3>
                    <p>
                        Qui at commune signiferumque. In mel labores moderatius, tantas saperet facilisi quo ut. Vero wisi civibus ea vim. An tota nostro sit, mel ei utinam ancillae, mutat dolores mea et. Homero iriure imperdiet eu mel. Ei enim viderer pri. Sed in eros nobis, te cum invidunt probatus. Mel an aeque efficiendi. Te populo ocurreret reprehendunt usu, sit at purto iudicabit.
                    </p>
                    <p>
                        Qui at commune signiferumque. In mel labores moderatius, tantas saperet facilisi quo ut. Vero wisi civibus ea vim. An tota nostro sit, mel ei utinam ancillae, mutat dolores mea et. Homero iriure imperdiet eu mel. Ei enim viderer pri. Sed in eros nobis, te cum invidunt probatus. Mel an aeque efficiendi. Te populo ocurreret reprehendunt usu, sit at purto iudicabit.
                    </p>
                    <p><a href="#" class="button_small">Read more</a></p>
                </div>
            </div><!-- End row -->
            
            
            <h3 class="title">RECENT FITLIFE USERS</h3>
            
            <div class="row">
            
                <div class="col-md-6">
                    <div class="quote clearfix">
                        <img src="images/planar/testimonial-1.jpg" class="img-circle" alt="">
                        <p>
                             Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                        </p>
                        <em>Jhon Doe</em>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="quote clearfix">
                        <img src="images/planar/testimonial-2.jpg" class="img-circle" alt="">
                        <p>
                             Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                        </p>
                        <em>Jhon Doe</em>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="quote clearfix">
                        <img src="images/planar/testimonial-3.jpg" class="img-circle" alt="">
                        <p>
                             Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                        </p>
                        <em>Jhon Doe</em>
                    </div>
                </div>
                
                <div class="col-md-6 clearfix">
                    <div class="quote">
                        <img src="images/planar/testimonial-4.jpg" class="img-circle" alt="">
                        <p>
                             Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                        </p>
                        <em>Jhon Doe</em>
                    </div>
                </div>
                
            </div><!-- End row -->

        </div><!-- End container -->
