
           <section id="sub-head" class="super-page-header">
                <div class="flyIn animated fadeInUp">

                    <h2>@ViewBag.Title </h2>
                    <p> @ViewBag.Subtitle</p>

                </div>
            </section><!--/.super-page-header -->